<!DOCTYPE html>
<html lang="it">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>TITOLO</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</head>

<body>
  <header class="p-3 mb-3 border-bottom sticky-top z-index-master navbar-dark bg-dark">
    <div class="container ">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <!--<a href="#" class="d-flex d-none d-xxl-block align-items-center mb-2 mb-lg-0 text-decoration-none"> -->
        <img src="https://i.ebayimg.com/images/g/o4EAAOSw9h1hcCxV/s-l500.jpg" alt="" width="50" height="50"
          class="rounded-circle">
        <!-- </a> -->
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="showhomepage.php" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 ">Corsi</a></li>
          <li><a href="notification.php" class="nav-link px-2 ">Notifiche</a></li>
        </ul>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_1280.png" alt="user picture"
              width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Inserisci post</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="left-column">
          <div class="card card-left1 mb-4">
            <img src="img/photo-1455448972184-de647495d428.jpg" alt="" class="card-img-top img-fluid">
            <div class="card-body text-center ">
              <img src="img/avatar-dhg.png" alt="img" width="120" height="120" class="rounded-circle mt-n5">
              <h5 class="card-title">NOME UTENTE</h5>
              <p class="card-text text-justify mb-2">DESCRIZIONE TIPO INSTAGRAM.</p>

            </div>
          </div>
          <div class="card shadow-sm card-left2 mb-4">
            <div class="card-body">
              <h5 class="mb-3 card-title">TUE INFO <small><a href="#" class="ml-1">CAMBIA</a></small></h5>
              <p class="card-text"> <em class="fas fa-calendar-week mr-2"></em> STUDIA A <a href="#"
                  class="text-decoration-none">UNIVERSITA</a></p>
              <p class="card-text"> <em class="fas fa-user-friends mr-2"></em> COSA STUDIA? <a href="#"
                  class="text-decoration-none">CORSO</a></p>
              <p class="card-text"> <em class="fas fa-user-friends mr-2"></em> RESIDENZA <a href="#"
                  class="text-decoration-none">CITTA</a></p>
            </div>
          </div>
        </div>
      </div>


      <div class="col-12 col-lg-6">
        <div class="middle-column">
          <div class="card">
            <div class="card-header bg-transparent">
              <h3>Homepage</h3>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between p-2 px-3">
                <div class="d-flex flex-row align-items-center"> <img id="ciao"
                    src="https://www.w3schools.com/html/workplace.jpg" width="50" class="rounded-circle" alt="">
                  <div class="d-flex flex-column ml-2"> <a class="nav-link" href="#">AUTORE POST</a>
                    <small class="text-primary">LINK AL CORSO/ESAME OPPURE NIENTE</small>
                  </div>

                </div>
                <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2">DATA</small> <em
                    class="fa fa-ellipsis-h"></em> </div>
              </div>
              <div class="px-4">
                <p class="text-justify">CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO POST
                  CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO
                  POST
                  CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO
                  POST
                  CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO POST.
                </p>
              </div>
              <div class="d-flex align-items-center">
                <button id="bottoneLike" class="btn btn-outline-danger position-relative me-5 ms-5">Like
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    id="numeroLike">
                    4
                  </span>
                </button>
                <button id="bottoneCommenti" class="btn btn-outline-danger position-relative">Commenti
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    id="numeroCommenti">
                    Ncommenti
                  </span>
                </button>
              </div>
            </div>
            <hr>
            <div class="card-body">
              <div class="d-flex justify-content-between p-2 px-3">
                <div class="d-flex flex-row align-items-center"> <img id="ciao"
                    src="https://www.w3schools.com/html/workplace.jpg" width="50" class="rounded-circle" alt="">
                  <div class="d-flex flex-column ml-2"> <a class="nav-link" href="#">AUTORE POST</a>
                    <small class="text-primary">LINK AL CORSO/ESAME OPPURE NIENTE</small>
                  </div>

                </div>
                <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2">DATA</small> <em
                    class="fa fa-ellipsis-h"></em> </div>
              </div>
              <div class="px-4">
                <p class="text-justify">CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO POST
                  CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO
                  POST
                  CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO
                  POST
                  CONTENUTO POST CONTENUTO POST CONTENUTO POST CONTENUTO POST.
                </p>
              </div>
              <div class="d-flex align-items-center">
                <button id="bottoneLike" class="btn btn-outline-danger position-relative me-5 ms-5">Like
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    id="numeroLike">
                    4
                  </span>
                </button>
                <button id="bottoneCommenti" class="btn btn-outline-danger position-relative">Commenti
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    id="numeroCommenti">
                    Ncommenti
                  </span>
                </button>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>





    </div>
  </div>



  <footer>
    <nav class="fixed-bottom z-index-master navbar-dark bg-dark text-light">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="text-center"> © 2023 - Progetto Web</p>
          </div>
        </div>
      </div>
    </nav>

  </footer>
</body>


</html>